table.gameboard td {
	height: 25px;
	width: 25px;
}

table.gameboard td {
	background: grey;
}

table.gameboard td.player {
	background: magenta;
	content:url( '../images/MadWizard.png' );
}

table.gameboard td.opponent {
	background: OldLace;
	content:url( '../images/BabyDuck.png' );
}

table.gameboard td.bonus,
table.gameboard td.wildcard,
table.gameboard td.static {
	border-width: 1px;
	border-style: solid;
}

table.gameboard td.bonus[ww_value="x2"] {
	background: red;
	border-color: red;
	color: white;
}

table.gameboard td.bonus[ww_value="x3"] {
	background: blue;
	border-color: blue;
	color: white;
}

table.gameboard td.wildcard {
	background: purple;
	color: white;
}

table.gameboard td.static {
	background: black;
	border-color: black;
	color: white;
}



table.gameboard td.inplay {
	background: lightgrey !important;
}

table.gameboard td.playable {
	background: yellow !important;
}

table.gameboard td.played {
	background: darkgrey !important;
}
