.flash-selection {
	animation-name: flash-yellow-animation-animation;
	animation-duration: 0.8s;
}

.flash-error {
	animation-name: flash-red-animation;
	animation-duration: 0.3s;
}

.flash-attack {
	animation-name: flash-red-animation;
	animation-duration: 1.2s;
}

@keyframes flash-yellow-animation {  
	from { background: yellow; }
	to   { background: default; }
}

@keyframes flash-red-animation {  
	from { background: red; }
	to   { background: default; }
}
