.flash-selection {
	animation-name: flash-yellow-animation-animation;
	animation-duration: 0.8s;
}

.flash-error {
	animation-name: flash-red-animation;
	animation-duration: 0.3s;
}

.flash-attack {
	animation-name: pulse-red-animation;
	animation-duration: 0.8s;
}

@keyframes flash-yellow-animation {  
	from { background: yellow; }
	to   { background: default; }
}

@keyframes flash-red-animation {  
	from { background: red; }
	to   { background: default; }
}

@keyframes pulse-red-animation {
	0% {
		transform: scale(1.0);
		background: #cc0000;
	}
	10% {
		transform: scale(1.5);
	}
	90% {
		transform: scale(1);
		background: #cc0000;
	}
	100% { 
		background: default;
	}
}
