.flash-selection {
	animation-name: flash-yellow-animation-animation;
	animation-duration: 0.8s;
}

.flash-error {
	animation-name: flash-red-animation;
	animation-duration: 0.3s;
}

.flash-attack {
	animation-name: pulse-red-animation;
	animation-duration: 0.8s;
}

.flash-button-enable {
	animation-name: pulse-animation;
	animation-duration: 0.15s;
}

@keyframes flash-yellow-animation {  
	from { background: yellow; }
	to   { background: default; }
}

@keyframes flash-red-animation {  
	from { background: red; }
	to   { background: default; }
}

@keyframes pulse-red-animation {
	0% {
		transform: scale(1.1);
		background: red;
	}
	10% {
		transform: scale(1.5);
		background: #cc0000;
	}
	50% {
		transform: scale(1);
		background: #ff0000;
	}
	75% {
		transform: scale(1);
		background: #ff0000;
	}
	100% { 
		background: default;
	}
}

@keyframes pulse-animation {
	0% {
		transform: scale(1.05);
    }
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
