table.gameboard td {
	height: 25px;
	width: 25px;
}

table.gameboard td {
	background: grey;
}

table.gameboard td.player-local {
	background: magenta;
	content:url( '../images/MadWizard.png' );
}

table.gameboard td.player-remote {
	background: Black;
	content:url( '../images/Bowie.png' );
}

table.gameboard td.bonus,
table.gameboard td.wildcard,
table.gameboard td.static {
	border-width: 1px;
	border-style: solid;
}

table.gameboard td.bonus[ww_value="x2"] {
	background: red;
	border-color: red;
	color: white;
}

table.gameboard td.bonus[ww_value="x3"] {
	background: blue;
	border-color: blue;
	color: white;
}

table.gameboard td.wildcard {
	background: purple;
	color: white;
}

table.gameboard td.static {
	background: black;
	border-color: black;
	color: white;
}



table.gameboard td.placed {
	background: lightgrey !important;
	color: black !important;
}

table.gameboard td.placeable {
	background: yellow !important;
	color: yellow !important;
}

table.gameboard td.played-player {
	background: magenta !important;
	color: magenta !important;
}
