body {
	margin: 	20px auto;
	max-width: 	800px;

	font-size: 	18px;

	color: 		#444;
	background: #EEEEEE;
}

body.state_NOT_STARTED {
	background: #8c8c8c;
}

body.state_REMOTE_MOVE {
	background: #bfbfbf;
}

body.state_PLAYER_MOVE {
	background: #EEEEEE;
}

body.state_PLAYER_WIN {
	background: Lime;
}

body.state_REMOTE_WIN {
	background: Maroon;
}

.score {
	text-align:	center;
	font-size: 24px;
	font-weight: bold;
	display: inline-block; /* required to support animation - http://stackoverflow.com/questions/6881045/css-animations-on-span */
}

.score.player-0 {
	color:	magenta;
}

.score.player-1 {
	color:	#00ccff;
}

.score.lost {
	color:		black;
	background: red;
}

.playedwords {
	border: 4px;
	border-style: solid;
}

.playedwords.player-0 {
	border-color: magenta;
}

.playedwords.player-1 {
	border-color: #00ccff;
}

.playedwords ul {
    list-style-type: none;
    padding:0;
    margin:0;
}



.buttons {
	float: right;
}


button {
	padding: 6px 12px;
	border: 1px solid transparent;
	border-radius: 4px;

	font-size: 	20px;
}

button#attack {
	background-color: red;
}

button#move {
	background-color: #73AD21; // green-ish
}

button#reset {
	background-color: orange;
}
