body {
	margin: 	20px auto;
	max-width: 	800px;

	font-size: 	18px;

	color: 		#444;
	background: #EEEEEE;
}

.playedwords {
	border: 4px;
	border-style: solid;
}

.playedwords ul {
    list-style-type: none;
    padding:0;
    margin:0;
}

div.interstitial {
	max-width: 400px;
}

span.buttons {
	float: right;
}


button {
	padding: 6px 12px;
	border: 1px solid transparent;
	border-radius: 4px;

	font-size: 	20px;
}

button#move {
	background-color: #73AD21; // green-ish
}

button#reset {
	background-color: orange;
}
